$article-size: 100%;

.body-item {
  width: $article-size - $menu-size;
  margin-left: $menu-size;
}

.main-content {
  width: 100%;
  max-width: 80rem;
}

.page-header {
  background-image: linear-gradient(90deg, #155799, #159957);
}

#my-menu {
  background-image: linear-gradient(270deg, #155799, #156987);
}
